<footer>
    <div class="footer-div">
        <div class="logo">
            <div class="logo-wrapper">
                <img src="images/logo-light.png">
                <a href="/"><div class="logo">
                    <h1>Block</h1><h1>Palettes</h1>
                </div></a>
            </div>
            <div class="footer-p">
                <p>A website for helping Minecraft builders spend less time picking blocks, and more time placing blocks.</p>
            </div>
            <div class="contact">
                <h2>Contact Me</h2>
                <a href="https://github.com/arianadaris" target="_blank"><img src="https://img.icons8.com/ios-glyphs/60/000000/github.png"/></a>
                <a href="https://www.linkedin.com/in/ariana-rajewski/" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png"/></a>
            </div>
        </div>
        <div class="browse">
            <h2>Browse</h2>
            <a href="/">Featured</a>
            <a href="/palettes">All</a>
            <a href="/saved">Saved</a>
            <a href="/generate">Generate</a>
        </div>
        <div class="recent">
            <h2>Recent Palettes</h2>
            
        </div>
    </div>
</footer>
