<!DOCTYPE html>
<html>
    <head>
        <title> Block Palettes | Minecraft </title>
        <meta name="description" content="Minecraft Block Palette Generator using NodeJS">
        <meta name="author" content="Ariana Daris">
        <link rel="shortcut icon" type="image/jpg" href="images/logo-dark.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/scripts.js"></script>
    </head>
    <body>
        <header>
            <div class="header">
                <div class="logo-wrapper">
                    <img src="images/logo-light.png">
                    <a href="/"><div class="logo">
                        <h1>Block</h1><h1>Palettes</h1>
                    </div></a>
                </div>
                <div class="navbar">
                    <ul>
                        <li><a class="link" href="/generate">Generate</a></li>
                        <li><a class="link" href="/palettes">Palettes</a></li>
                        <li><a class="link" href="/saved">Saved</a></li>
                        <li><a class="link" href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
    </body>
</html>
