<div class="hide-hide">
    <div class="hide-wrapper">
        <div class="hide">
            <h2>Palette removed</h2>
            <img src="https://img.icons8.com/material-outlined/24/D63E3E/checkmark--v1.png"/>
        </div>
    </div>
</div>
